/* Navbar Styles */
.navbar {
  display: flex;
  height: 50px;
  align-items: center;
  padding: 15px 20px;
  background: #f8f9fa; /* Light gray background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 60px;
  margin-right: 10px;
  margin-left: 80px;
}

.logo-text {
  height: 35px;
}

/* Navigation Links */
.nav-links {
  display: flex;
  list-style: none;
  gap: 60px; 
  margin-left: 150px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
}

.nav-links a {
  color: #275bdd;
  text-decoration: none;
  font-weight:500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #205a95; 
}

.nav-links .register-link {
  color: #ffffff;
  background: #007bff; /* Bright blue */
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links .register-link:hover {
  background: #0056b3; /* Darker blue on hover */
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .nav-links {
    flex-wrap: wrap; /* Adjust links for smaller screens */
    gap: 15px;
  }

  .navbar {
    flex-wrap: wrap;
    padding: 10px;
  }
}

.main-content {
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.icon-image {
  height: 300px;
  margin-bottom: 1%; 
}

.content-wrapper h2 {
  margin-top: 2%; /* Adjusted margin for better spacing */
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

.content-wrapper p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}

.cta-button {
  background-color: #3363de;
  color: white;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 0 10px rgba(254, 255, 255, 0.8), 0 0 20px rgba(2, 41, 138, 0.6); /* Glow effect */
  transition: box-shadow 0.3s ease, transform 0.2s ease; /* Smooth animation */
}

.cta-button:hover {
  background-color: #0056b3;
}


